<h1>Bonjour, veuillez confirmer votre adresse email</h1>

<p>
    Merci de bien vouloir confirmer cette adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>